<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>注册</title>

    <!-- Scripts -->
    <script src="../../js/app.js" defer></script>

    <!-- Fonts -->
    <!--<link rel="dns-prefetch" href="//fonts.gstatic.com">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">-->
    <script src="../../layui-v2.4.5/layui/layui.js"></script>
    <link href="../../layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />

    <!-- Styles -->
    <link href="../../css/app.css" rel="stylesheet">
    <style>
        body{
            background-color:rgba(255, 165, 35, 0.5);
        }
        nav{
            background-color: rgba(255, 165, 35, 0.5);
        }
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="./login.html">登录</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./register.html">注册</a>
                            </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./adminlogin.html">admin登录</a>
                    </li>
                            <li class="nav-item dropdown">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                    <span class="caret"></span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="###"
                                       onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                        退出
                                    </a>

                                    <form id="logout-form" action="###" method="POST" style="display: none;">

                                    </form>
                                </div>
                            </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">注册</div>

                        <div class="card-body">
                            <form method="POST" action="../../../controller/register.php" class="layui-form">


                                <div class="form-group row">
                                    <label for="name" class="col-md-4 col-form-label text-md-right">用户名<span style="color: #ff0000">*</span></label>

                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" name="username" value="" required autofocus>


                                            <span class="invalid-feedback" role="alert">
                                        <strong>###</strong>
                                    </span>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">密码<span style="color: #ff0000">*</span></label>

                                    <div class="col-md-6">
                                        <input id="password" type="password" class="form-control{{ $errors->has('password') ? ' is-invalid' : '' }}" name="password" required>

                                            <span class="invalid-feedback" role="alert">
                                        <strong></strong>
                                    </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password-confirm" class="col-md-4 col-form-label text-md-right">确认密码<span style="color: #ff0000">*</span></label>

                                    <div class="col-md-6">
                                        <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="layui-form-label col-md-4 col-form-label text-md-right">性别<span style="color: #ff0000">*</span></label>
                                        <div class="layui-input-block">
                                             男 <input type="radio" name="sex" value="男" title="男" checked="">
                                             女 <input type="radio" name="sex" value="女" title="女">
                                        </div>
                                </div>
                                <div class="form-group row">
                                    <label for="height" class="col-md-4 col-form-label text-md-right">学号</label>

                                    <div class="col-md-6">
                                        <input id="height" type="text" class="form-control" name="sno">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="height" class="col-md-4 col-form-label text-md-right">班号</label>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="classnum">
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-md-6 offset-md-4">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" style="background-color: #f96332" lay-submit="" lay-filter="demo1">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script>
    layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#birthday' //指定元素
        });
    });
</script>
</html>
